@import '~styles/settings.scss';

.c-form-radio {
  .radio-option {
    margin-bottom: 15px;
    cursor: pointer;

    label {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      margin-bottom: 5px;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        border-radius: 100%;
        border: solid 1px $slate;
        margin-right: 10px;

        &::after {
          content: '';
          width: 8px;
          height: 8px;
          background-color: $green;
          border-radius: 100%;
          display: none;
        }
      }
    }

    input[type=radio] {
      display: none;
    }

    input[type=radio]:checked + label span::after {
      display: block;
    }
  }
}
