@import '~styles/settings.scss';

.c-contact-form {
  .subtitle {
    margin-bottom: 30px;
    font-size: 16px;
  }

  h4 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  p {
    margin-bottom: 20px;
  }

  input,
  textarea,
  select {
    max-width: 350px;
  }

  .submit-btn {
    min-width: 180px;
  }

  .feedback-message {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    max-width: 500px;

    h3 {
      font-size: 20px;
      margin-bottom: 30px;
      text-transform: none;
      opacity: 1;
    }

    p {
      margin-bottom: 30px;
    }

    .button-group {
      display: flex;
      flex-direction: row;

      .close-button {
        background-color: $error;
        margin-bottom: 0.625rem;
        margin-left: 0.625rem;

        &:hover {
          background-color: #c4143b;
        }
      }
    }
  }
}
