@import '~styles/settings';
$button-height: 40px;

.c-button {
  height: $button-height;
  font-family: inherit;
  border-radius: 20px;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $green;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 14px;
  font-weight: 400;
  color: $white;
  cursor: pointer;
  transition: background-color 150ms ease-out;
  width: fit-content;

  .button-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
  }

  svg {
    fill: $white;
    width: 15px;
    height: 15px;
  }

  &:hover {
    background-color: $green-dark;
  }

  &.disabled {
    pointer-events: none;
    opacity: 50%;
  }

  &:focus {
    outline: none;
  }

  &.round {
    width: $button-height;
    min-width: $button-height;
    padding: 0;
  }

  &.square {
    border-radius: 0;
  }

  &.big {
    height: 48px;
    font-size: 24px;
    border-radius: 24px;
  }

  &.small {
    height: 20px;
  }
}
