@import '~styles/settings';
$pill-height: 20px;

.c-pill {
  height: $pill-height;
  border-radius: 15px;
  color: $white;
  background-color: #d4d4d4;
  font-size: 12px;
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  width: fit-content;

  &.-active {
    background-color: $greyish-brown;
  }

  &.-removable {
    padding-right: 0;
  }

  &.-clickable {
    cursor: pointer;
  }

  button {
    padding-right: 8px;
    cursor: pointer;
    margin-left: 8px;
  }

  svg {
    width: 8px;
    height: 8px;
    fill: $white;
  }
}
