@import 'styles/settings.scss';

.c-tip {
  padding: 10px;
  background-color: $yellow;
  font-size: 12px;
  color: $slate;

  &.tooltip-dark {
    background-color: $slate;
    color: $white;
    opacity: 0.8;
  }
}
