@import '~styles/settings.scss';

.c-form-error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0;
  position: relative;

  span {
    font-size: 14px;
    color: $error;
    margin-bottom: 20px;

    @media screen and (min-width: $screen-m) {
      align-self: flex-start;
      margin-right: 20px;
      margin-bottom: 30px;
    }

    &.success {
      color: $green;
    }
  }
}
