.fresnel-container{margin:0;padding:0;}
@media not all and (min-width:320px) and (max-width:767px){.fresnel-at-sm{display:none!important;}}
@media not all and (min-width:768px) and (max-width:859px){.fresnel-at-md{display:none!important;}}
@media not all and (min-width:860px) and (max-width:1023px){.fresnel-at-md-bg{display:none!important;}}
@media not all and (min-width:1024px) and (max-width:1079px){.fresnel-at-lg{display:none!important;}}
@media not all and (min-width:1080px){.fresnel-at-xl{display:none!important;}}
@media not all and (max-width:767px){.fresnel-lessThan-md{display:none!important;}}
@media not all and (max-width:859px){.fresnel-lessThan-md-bg{display:none!important;}}
@media not all and (max-width:1023px){.fresnel-lessThan-lg{display:none!important;}}
@media not all and (max-width:1079px){.fresnel-lessThan-xl{display:none!important;}}
@media not all and (min-width:768px){.fresnel-greaterThan-sm{display:none!important;}}
@media not all and (min-width:860px){.fresnel-greaterThan-md{display:none!important;}}
@media not all and (min-width:1024px){.fresnel-greaterThan-md-bg{display:none!important;}}
@media not all and (min-width:1080px){.fresnel-greaterThan-lg{display:none!important;}}
@media not all and (min-width:320px){.fresnel-greaterThanOrEqual-sm{display:none!important;}}
@media not all and (min-width:768px){.fresnel-greaterThanOrEqual-md{display:none!important;}}
@media not all and (min-width:860px){.fresnel-greaterThanOrEqual-md-bg{display:none!important;}}
@media not all and (min-width:1024px){.fresnel-greaterThanOrEqual-lg{display:none!important;}}
@media not all and (min-width:1080px){.fresnel-greaterThanOrEqual-xl{display:none!important;}}
@media not all and (min-width:320px) and (max-width:767px){.fresnel-between-sm-md{display:none!important;}}
@media not all and (min-width:320px) and (max-width:859px){.fresnel-between-sm-md-bg{display:none!important;}}
@media not all and (min-width:320px) and (max-width:1023px){.fresnel-between-sm-lg{display:none!important;}}
@media not all and (min-width:320px) and (max-width:1079px){.fresnel-between-sm-xl{display:none!important;}}
@media not all and (min-width:768px) and (max-width:859px){.fresnel-between-md-md-bg{display:none!important;}}
@media not all and (min-width:768px) and (max-width:1023px){.fresnel-between-md-lg{display:none!important;}}
@media not all and (min-width:768px) and (max-width:1079px){.fresnel-between-md-xl{display:none!important;}}
@media not all and (min-width:860px) and (max-width:1023px){.fresnel-between-md-bg-lg{display:none!important;}}
@media not all and (min-width:860px) and (max-width:1079px){.fresnel-between-md-bg-xl{display:none!important;}}
@media not all and (min-width:1024px) and (max-width:1079px){.fresnel-between-lg-xl{display:none!important;}}