/* FONTS */
$font-family: 'Fira Sans', Arial, sans-serif;

/* SCREENS */
$screen-s: 320px;
$screen-m: 768px;
$screen-m-bg: 860px;
$screen-l: 1024px;
$screen-xl: 1120px;

/* GRID SETTINGS */
$max-width: 1120px;
$desktop-gutter: 20px;
$mobile-gutter: 16px;
$header-height: 58px;

/* COLORS */
$white: #fff;
$black: #000;
$green: #97be32;
$green-dark: #658022;
$slate: #555;
$slate-dark: #333;
$googleplus: #da4735;
$twitter: #598dca;
$facebook: #3a589b;
$border: #e5e5df;
$yellow: #fffee2;
$loss: #f69;
$gain: #6d6de5;
$extent: #a5ed80;
$ocean: #a4dbfd;
$error: #ed1846;
$fires: #f14600;

$grey: #aaa;
$grey-light: #f7f7f7;
$grey-warm: #999;

// unsure
$grey-dark: #d6d6d9;
$medium-grey: #676867;
$map-grey: #808080;
$hot-grey: #9e9e9e;
$light-grey: #c8c9c1;
$ashes-grey: #7f7f7f;

$white-tree: #f2f2f2;
$white-calcium: #dedede;
$greyish-brown: #4a4a4a;

/* SHADOWS */
$pop-box-shadow: 1px 1px 10px 0 rgba($slate, 0.25);
$tooltip-box-shadow: 0 4px 20px 4px rgba(0, 20, 60, 0.1), 0 4px 80px -8px rgba(0, 20, 60, 0.2);
