@import '~styles/settings.scss';

.theme-button-map-control {
  min-width: 38px;
  height: 38px;
  padding: 0;
  background-color: $white;
  border-radius: 0;
  font-size: 10px;
  color: $slate-light;

  svg {
    fill: $slate;
  }

  &:hover {
    background-color: darken($white, 10%);
  }

  &.active {
    svg {
      fill: $green-gfw;
    }
  }

  &.disabled {
    background-color: $white;

    &:hover {
      background-color: $white;
    }
  }
}
