@import '~styles/settings.scss';

.theme-button-xsmall {
  height: 14px;
  border-radius: 7px;
  padding: 0 5px;
  font-size: 10px;
  white-space: nowrap;

  &.square {
    width: 14px;
    min-width: 14px;
    padding: 0;
  }

  svg {
    width: 8px;
    height: 8px;
  }
}
