@import '~styles/settings.scss';

.theme-button-medium {
  height: 26px;
  border-radius: 13px;
  padding: 0 13px;
  font-size: 14px;
  white-space: nowrap;

  &.square {
    width: 26px;
    min-width: 26px;
    padding: 0;
  }

  svg {
    width: 13px;
    height: 13px;
  }
}
