@import '~styles/settings.scss';

.button-clear {
  background-color: transparent;
  color: $slate;

  svg {
    fill: $slate;
  }

  &:hover {
    background-color: transparent;
    color: $slate-dark;

    svg {
      fill: $slate-dark;
    }
  }
}
