@import '~styles/settings.scss';

.button-clear {
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }

  svg {
    fill: $slate;

    &:hover {
      fill: $slate-dark;
    }
  }
}
