@import '~styles/settings.scss';

.ReactModal__Body--open {
  overflow: hidden;
}

html,
body {
  overflow-x: visible !important;
}

.modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 10px;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 15px 0 rgba(71, 44, 184, 0.1);
  background-color: rgba(17, 55, 80, 0.4);
  overflow: auto;

  @media screen and (min-width: $screen-m) {
    padding: 40px 10px;
  }
}

.c-modal {
  overflow: auto;
  background: #fff;
  outline: none;
  min-width: 200px;
  min-height: 150px;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  margin: auto;
  padding: 0;
  border: none;
  border-radius: 0;

  @media screen and (min-width: $screen-m) {
    width: auto;
    max-width: 900px;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS */
  .modal-overlay {
    align-items: flex-start !important;
  }

  .c-modal {
    margin: 0 !important;
  }
}