@import '~styles/index.scss';
@import '~styles/settings.scss';

$header-height: rem(56px);

.c-header {
  height: $header-height;
  background: $white;
  position: relative;
  width: 100%;
  border-bottom: solid 1px $border;

  .logo {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 76px;
    height: 76px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: $header-height;

    padding-left: 0;

    @media screen and (min-width: $screen-m) {
      padding-left: rem(80px);
    }

    @media screen and (min-width: 850px) {
      padding-left: rem(90px);
    }

    &.mobile {
      padding-left: 0;
    }
  }

  .nav-item {
    height: 100%;
    position: relative;

    .nested {
      padding: 0;
      margin: 0;
    }

    > a,
    > button,
    > div,
    .nav-link {
      height: 100%;
      display: flex;
      align-items: center;
      color: $slate;
      font-size: 14px;
      text-transform: uppercase;
      padding: 0 rem(10px);
      margin: 0 rem(5px);
      position: relative;

      svg {
        fill: $slate;
      }

      &:hover {
        color: darken($slate, 30%);

        svg {
          fill: darken($slate, 30%);
        }
      }

      &:focus {
        outline: none;
      }

      &::after {
        content: '';
        height: rem(5px);
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: transparent;
      }

      &.active {
        &::after {
          background-color: $green-gfw;
        }
      }
    }
  }
}
